body{
  margin: 0;
  font-family: sans-serif;
}
.content{
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  top: 50%;
  left: 50%;
  position: absolute;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}